@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  margin: 0px;
  background-color: white;
}


/* Terminal */

#app {
  width: 700px;
  margin: 3% auto;
  background-color: white;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

#log {
  height: 700px;
  padding: 4px;
  border: black solid 1px;
  border-radius: 5px;
  line-height: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
}

#log::-webkit-scrollbar {
  display: none;
}

#log span {
  display: block;
}

#cmd-input {
  height: 24px;
  width: 690px;
  margin-top: 10px;
  padding: 2px 4px;
  border: black solid 1px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
